* text=auto !eol
/README -text
/aboutdialog.cpp -text
/aboutdialog.h -text
/archivewindow.cpp -text
/archivewindow.h -text
/basewidget.cpp -text
/basewidget.h -text
/beryllium.cpp -text
/beryllium.pro -text
/beryllium.qrc -text
/beryllium.sln -text
/beryllium.vcxproj -text
/beryllium.vcxproj.filters -text
/beryllium_ru.ts -text
/dcmclient.cpp -text
/dcmclient.h -text
/detailsdialog.cpp -text
/detailsdialog.h -text
/dicomdevicesettings.cpp -text
/dicomdevicesettings.h -text
/dicommppssettings.cpp -text
/dicommppssettings.h -text
/dicommwlsettings.cpp -text
/dicommwlsettings.h -text
/dicomserverdetails.cpp -text
/dicomserverdetails.h -text
/dicomserversettings.cpp -text
/dicomserversettings.h -text
/dicomstoragesettings.cpp -text
/dicomstoragesettings.h -text
/fedora.patch -text
/mainwindow.cpp -text
/mainwindow.h -text
/patientdialog.cpp -text
/patientdialog.h -text
pixmaps/about.png -text
pixmaps/archive.png -text
pixmaps/beryllium.png -text
pixmaps/camera.png -text
pixmaps/details.png -text
pixmaps/folder.png -text
pixmaps/pause.png -text
pixmaps/record.png -text
pixmaps/record_off.png -text
pixmaps/record_on.png -text
pixmaps/refresh.png -text
pixmaps/settings.png -text
pixmaps/start.png -text
pixmaps/stop.png -text
pixmaps/user_add.png -text
pixmaps/user_manage.png -text
pkg/debian/DEBIAN/control -text
pkg/debian/usr/share/doc/beryllium/changelog -text
pkg/debian/usr/share/doc/beryllium/changelog.Debian -text
pkg/debian/usr/share/doc/beryllium/copyright -text
pkg/debian/usr/share/man/man1/beryllium.1 -text
/qwaitcursor.h -text
/rtpsettings.cpp -text
/rtpsettings.h -text
/settings.cpp -text
/settings.h -text
/startstudydialog.cpp -text
/startstudydialog.h -text
/storagesettings.cpp -text
/storagesettings.h -text
/studiessettings.cpp -text
/studiessettings.h -text
/videosettings.cpp -text
/videosettings.h -text
/worklist.cpp -text
/worklist.h -text
/worklistcolumnsettings.cpp -text
/worklistcolumnsettings.h -text
/worklistquerysettings.cpp -text
/worklistquerysettings.h -text
