* text=auto !eol
/beryllium.cpp -text
/beryllium.pro -text
/beryllium.qrc -text
/beryllium.sln -text
/beryllium.vcxproj -text
/beryllium.vcxproj.filters -text
/beryllium_ru.ts -text
/mainwindow.cpp -text
/mainwindow.h -text
pixmaps/add.png -text
pixmaps/beryllium.png -text
pixmaps/camera.png -text
pixmaps/pause.png -text
pixmaps/play.png -text
pixmaps/record_on.png -text
pixmaps/stop.png -text
