/*.opensdf
/*.pdb
/*.qm
/*.sdf
/*.suo
/*.user
/Debug
/GeneratedFiles
/Makefile
/Makefile.*
/Release
/Win32
/beryllium.log
/builddir
debian/changelog
debian/copyright
debian/license.rtf
/dist
/ipch
/obj
/release
