[Desktop Entry]
Name=Berillyum
Name[ru_RU]=Бериллий
Comment=Image and video capturing program
Comment[ru_RU]=Программа для записи видео
Exec=beryllium %U
Icon=/usr/share/icons/beryllium.png
StartupNotify=true
Terminal=false
Type=Application

