Package: beryllium
Version: 0.3-6
Section: gnome
Priority: optional
Architecture: amd64
Installed-Size: 2500
Depends: gstreamer0.10-plugins-base (>= 0.10.31),  gstreamer0.10-plugins-good (>= 0.10.31), gstreamer0.10-plugins-bad (>= 0.10.23), gstreamer0.10-plugins-ugly (>= 0.10.19), libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libgstreamer0.10-0 (>= 0.10.31), libmediainfo0 (>= 0.7.52), libqt4-network (>= 4:4.5.3), libqtcore4 (>= 4:4.7.0~beta1), libqtglib-2.0-0 (>= 0.10.1), libqtgstreamer-0.10-0 (>= 0.10.1), libqtgstreamerui-0.10-0 (>= 0.10.1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.4.0), libwrap0 (>= 7.6-4~), zlib1g (>= 1:1.1.4), libdcmtk2 (>= 3.6.0~)
Maintainer: Beryllium team <beryllium@dc.baikal.ru>
Description: Beryllium DICOM edition
 Video and image capturing for medicine.
