Source: videomixer
Section: contrib/misc
Priority: optional
Maintainer: Beryllium team <beryllium@dc.baikal.ru>
Standards-Version: 3.2.1
Build-Depends: libgstreamer1.0-dev | libgstreamer0.10-dev,
  libgstreamer-plugins-base1.0-dev | libgstreamer-plugins-base0.10-dev,
  libqt5opengl5-dev | libqt4-opengl-dev

Package: videomixer
Architecture: i386 amd64
Pre-Depends: debconf (>= 1.1) | debconf-2.0
Depends: ${shlibs:Depends}
Suggests: beryllium
Description: Video mixer
  Combines multiple video streams into one.
