<?xml version="1.0" encoding="UTF-8"?>

<?define ProductBuild     = "0.8" ?>
<?define ProductRevision  = "4" ?>
<?define ProductName      = "Beryllium" ?>

<?define Manufacturer    = "dc.baikal.ru" ?>
<?define ProductVersion  = "$(var.ProductBuild).$(var.ProductRevision)" ?>
<?define UpgradeCode     = "{B100D0FF-AF56-0000-0314-079500628307}" ?>
<?define SrcDir32        = "../$(var.Configuration)\" ?>
<?define SrcDir64        = "../$(var.Configuration)\" ?>

<?define RequiresAdmin    = "True" ?>
<?define QtVersion        = "5" ?>

<?if $(var.Platform)=x64?>
<?define Win64   = "yes" ?>
<?else ?>
<?define Win64   = "no" ?>
<?endif ?>

<?if $(var.RequiresAdmin)=True ?>
  <?define InstallPrivileges = "elevated" ?>
  <?define InstallScope      = "perMachine" ?>
  <?define DstDir            = "ProgramFilesFolder" ?>
<?else ?>
  <?define InstallPrivileges = "limited" ?>
  <?define InstallScope      = "perUser" ?>
  <?define DstDir            = "CommonAppDataFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
    Manufacturer="$(var.Manufacturer)"
    Name="$(var.ProductName)"
    Language="!(loc.LANG)"
    Version="$(var.ProductVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    Codepage="1251"
    >
    <Package Id="*"
      InstallPrivileges="$(var.InstallPrivileges)"
      InstallerVersion="200"
      Manufacturer="$(var.Manufacturer)"
      Description="$(var.Manufacturer) $(var.ProductName) Installer"
      Comments="$(var.ProductName) is a registered trademark of $(var.Manufacturer)"
      SummaryCodepage="1251"
      Compressed="yes"
      InstallScope="$(var.InstallScope)"
      Languages="!(loc.LANG)"
    />

    <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" IgnoreRemoveFailure="yes" Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>

    <Property Id="GSTREAMERSDKROOT_X86" Secure="yes">
      <RegistrySearch Id="GstreamerSdkRoot_key" Root="HKLM" Key="SOFTWARE\GStreamerSDK\x86" Name="InstallDir" Type="raw" />
    </Property>
    <Property Id="GSTREAMERSDKVERSION_X86" Secure="yes">
      <RegistrySearch Id="GstreamerSdkVersion_key" Root="HKLM" Key="SOFTWARE\GStreamerSDK\x86" Name="SdkVersion" Type="raw" />
    </Property>

    <Property Id="ARPURLINFOABOUT">http://$(var.Manufacturer)/products/$(var.ProductName)</Property>
    <Property Id="ARPURLUPDATEINFO">http://$(var.Manufacturer)/products/$(var.ProductName)</Property>
    <Media Id="1" Cabinet="$(var.ProductName).cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Programs"/>
        <Directory Id="$(var.DstDir)" Name="PFiles">
          <Directory Id='CommonFilesFolder' Name='Common Files'>
            <Directory Id='DBusFolder' Name='dbus-1'>
              <Directory Id='ServicesFolder' Name='services'>
                <Component Id="Comp_DBusService32" Guid="B100D0FF-AF56-0107-0314-079500628307" Win64="no">
                  <File Id="File_com_irk_dc_beryllium_service" Name="com.irk-dc.beryllium.service" Source="../com.irk-dc.beryllium.service.win" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">

          <Directory Id="ProductFolder32" Name="$(var.ProductName)" FileSource="$(var.SrcDir32)">
            <Component Id="Comp_Application32" Guid="B100D0FF-AF56-0101-0314-079500628307" Win64="no">
              <Environment Id="PATH" Name="PATH" Value="[GSTREAMERSDKROOT_X86]\[GSTREAMERSDKVERSION_X86]\x86\bin" Permanent="no" Part="last" Action="set" System="no" />
              <File Id="File_Beryllium_x86" Name="beryllium.exe" KeyPath="yes">
                <Shortcut Id="Shortcut_Beryllium_x86" Directory="ProgramMenuFolder" Name="Beryllium" Advertise="yes" Icon="beryllium.ico">
                  <Icon Id="beryllium.ico" SourceFile="../beryllium.ico" />
                </Shortcut>
              </File>
              <?if $(var.Configuration)=Debug ?>
                <File Id="File_Beryllium_pdb_x86" Name="beryllium.pdb" />
              <?endif ?>
            </Component>
            <?include opencv32.wxi ?>
            <Directory Id="Translations32" Name="translations" FileSource="../">
              <Component Id="Comp_Translations32" Guid="B100D0FF-AF56-0102-0314-079500628307" Win64="no">
                <File Id="File_Beryllium_ru_qm_x86" Name="beryllium_ru.qm"  Source="../beryllium_ru.qm"/>
              </Component>
            </Directory>
            <Directory Id="Sound32" Name="sound" FileSource="../sound">
              <Component Id="Comp_Sound32" Guid="B100D0FF-AF56-0103-0314-079500628307" Win64="no">
                <File Id="File_notify_ac3_x86" Name="notify.ac3" />
                <File Id="File_shutter_ac3_x86" Name="shutter.ac3" />
              </Component>
            </Directory>
            <?if $(var.QtVersion)=4 ?>
              <?include Qt4Runtime32.wxi ?>
            <?else ?>
              <?include Qt5Runtime32.wxi ?>
            <?endif ?>
          </Directory>

          <?if $(var.Platform)=x64?>
            <Directory Id="ProductFolder64" Name="$(var.ProductName)_X64" FileSource="$(var.SrcDir64)">
              <Component Id="Comp_Application64" Guid="B100D0FF-AF56-0201-0314-079500628307" Win64="yes">
                <File Id="File_Beryllium_X64" Name="beryllium.exe">
                <Shortcut Id="Shortcut_Beryllium_X64" Directory="ProgramMenuFolder" Name="Beryllium (64 bit)" Advertise="yes" Icon="beryllium.ico">
                  <Icon Id="beryllium.ico" SourceFile="beryllium.ico" />
                </Shortcut>
                </File>
                <?if $(var.Configuration)=Debug ?>
                  <File Id="File_Beryllium_pdb_X64" Name="beryllium.pdb" />
                <?endif ?>
              </Component>
              <Directory Id="Translations64" Name="translations">
                <Component Id="Comp_Translations64" Guid="B100D0FF-AF56-0202-0314-079500628307" Win64="yes">
                  <File Id="File_Beryllium_ru_qm_X64" Name="beryllium_ru.qm" src="beryllium_ru.qm" />
                </Component>
              </Directory>
              <Directory Id="Sound64" Name="sound" FileSource="sound">
                <Component Id="Comp_Sound64" Guid="B100D0FF-AF56-0203-0314-079500628307" Win64="yes">
                  <File Id="File_notify_ac3_X64" Name="notify.ac3" />
                  <File Id="File_shutter_ac3_X64" Name="shutter.ac3" />
                </Component>
              </Directory>
            </Directory>
            <?if $(var.QtVersion)=4 ?>
              <?include Qt4Runtime64.wxi ?>
            <?else ?>
              <?include Qt5Runtime64.wxi ?>
            <?endif ?>
          <?endif ?>
        </Directory>
        </Directory>
    </Directory>

    <Feature Id="Complete" Title="Complete Feature" Level="1">
      <ComponentRef Id="Comp_Application32" />
      <ComponentRef Id="Comp_Translations32" />
      <ComponentRef Id="Comp_Sound32" />
      <ComponentRef Id="Comp_QtLibs32" />
      <ComponentRef Id="Comp_QtGstLibs32" />
      <ComponentRef Id="Comp_QtImageFormats32" />
      <ComponentRef Id="Comp_QtPlatforms32" />
      <ComponentRef Id="Comp_DBusService32" />
      <ComponentRef Id="Comp_opencv32" />
      <?if $(var.Platform)=x64 ?>
      <ComponentRef Id="Comp_Application64" />
      <ComponentRef Id="Comp_Translations64" />
      <ComponentRef Id="Comp_Sound64" />
      <ComponentRef Id="Comp_QtLibs64" />
      <ComponentRef Id="Comp_QtGstLibs64" />
      <ComponentRef Id="Comp_QtImageFormats64" />
      <ComponentRef Id="Comp_QtPlatforms64" />
      <ComponentRef Id="Comp_opencv64" />
      <?endif ?>
    </Feature>

    <InstallExecuteSequence>
      <AppSearch Before="LaunchConditions"/>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

  </Product>
</Wix>
